<h1>Carrito</h1>

<table>
    <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
    </tr>

    {{#each productsDetails}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>{{this.quantity}}</td>
        </tr>
    {{/each}}
</table>